*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.app{
  background-color:rgb(209, 218, 224) ;
}
/* titulo logo */
.font-techmac {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 10%; 
  margin-left: 20px; 
  text-decoration: none;
  color: black;
}
/* Estilos para el NavBar */
.navbar {
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px; 
}

.navbar img{
  width: 73px;
  border-radius: 50px;

}

 .h2{
  text-align: center;
 }
/* Estilos para el CartWidget */
.cart-widget {
  margin-right: 30px; 
}


/* .h2{
    text-align: center;
}

.contador{
    text-align: center;

} */


.nav-linkk{
    color: rgb(248, 245, 245);
    padding: 8px 15px;
    margin: 6px ;
    border-radius: 10px;
    background-color:#767b80 ;;
    text-decoration: none;
    width: 100%;
}
.nav-linkk:hover{
background-color:#6e7174  ;
}

.container-fluidd{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content:space-between;
    background-color:#dadbdb ;
    text-align: center;
    width: 100%;
    height: 60px;
}



.btn-outline-successs{
    --bs-btn-color: #000;
    --bs-btn-border-color: #b6bfc6 ;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:#b6bfc6 ;
    --bs-btn-hover-border-color: #b6bfc6 ;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b6bfc6;
    --bs-btn-active-border-color: #b6bfc6 ;;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #b6bfc6 ;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #b6bfc6 ;
    --bs-gradient: none;
}

/* .btnn{

    color: black;
    padding: 8px 17px;
    margin: 15px ;
    border-radius: 10px;
    background-color:#8b949b ;
    text-decoration: none; 
} */


/* App.css */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-price {
    font-size: 16px;
    color: #333;
  }
  
  .card-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #a7aeb6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #b5b9bd;
  }
  
/* single accessories */
  .single-accessory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px; 
}




.single-accessory-details {
    margin-top: 20px; 
}

.single-accessory-image {
    width: auto; 
    height: 300px; 
}
.single-accessory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px; 
}

.single-accessory-details {
  margin-top: 20px;
}

.single-accessory-description {
  font-size: 16px;
  margin-top: 10px;
  width: 80%; 
  margin-left: auto; 
  margin-right: auto; 
  text-align: center; 
  padding: 10px; 
  border: 1px solid #000; 
  border-radius: 10px; 
  background:aliceblue;
}

.single-accessory-category {
  font-weight: bold;
  margin-top: 10px; 
}

.single-accessory-price {
  font-size: 18px;
  color: #000; 
  margin-top: 10px; 
}

/* HomeComponent.css */
.home-container {
  text-align: center;
  position:absolute;
  background-color:rgb(209, 218, 224) ;
  width: 100%;
  height: 100%;
}

/* homecomponent */

.category-link {
  display: inline-block; 
  margin-top: 20px;
  margin-right: 10px; 
  padding: 10px 20px; 
  font-size: 18px;
  text-decoration: none;
  color: #fff; 
  background-color: #a7aeb6;
  border: 2px solid #b5b9bd;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; 
}

.category-link:hover {
  background-color: transparent;
  color: #ffffff; 
}

/* Estilo adicional para el último botón */
.category-link:last-child {
  margin-right: 0; 
}


.category-container {
    text-align: center;
} 

/* CategoryComponent */
.accessories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.accessory-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(30% - 100px);
    margin-bottom: 40px;
    position: relative;
    text-align: left;
    border: 2px solid #6c757d;
    padding: 20px;
    background-color: aliceblue;
  
}

.accessory-item img {
    width: 100%;
    max-height: 250px; 
    object-fit: contain; 
    margin-bottom: 20px;
}

.accessory-details {
    margin-top: auto;
}
.accessory-b{
  display: flex;
}
.add-to-cart-btn,
.remove-from-cart-btn {
    padding: 10px 20px;
    background-color: #a7aeb6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px; 
}

.add-to-cart-btn:hover,
.remove-from-cart-btn:hover {
    background-color: #b5b9bd; 
  }

  .accessory-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.counter{
  background-color: #6e7174;
  color: #ccc;
  padding: 13px 18px;
  border-radius: 50%;
}